// colors

$clr-primary: #0d6efd;
$clr-dark: #212529;
$clr-dark--lighter: #6c757d;
$clr-light: #f8f9fa;
$text-dark: #ffffff8c;
$text-dark--lighter: #ffffffbf;
$text-warning: #ffc107;

// typography 

$main-title-fs: 2.5rem;
$section-title-fs: 2rem;
$normal-fs: 1.25rem;
